*, *::after, *::before {
    box-sizing: border-box;
}

body {
    margin: 0;
}

/* variables */
:root {
    --cell-size: 100px;
    --mark-size: calc(var(--cell-size) * .9);
}


/* board size, css behavior */
.board {
    width: 100vw;
    height: 100vh;
    display: grid;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    grid-template-columns: repeat(3, auto);
}

/* cell behavior */
.cell {
    width: var(--cell-size);
    height: var(--cell-size);
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}

/* this block of css draws the board borders */
.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
    border-top: none;
}

.cell:nth-child(3n + 1) {
    border-left: none;
}

.cell:nth-child(3n + 3) {
    border-right: none;
}

.cell:last-child,
.cell:nth-child(8),
.cell:nth-child(7) {
    border-bottom: none;
}

/*cursor not allowed on classes that have x and o*/
.cell.x,
.cell.o {
    cursor: not-allowed;
}

/* shape color */
.cell.x::before,
.cell.x::after,
.cell.o::before {
    background-color: black;
}

/* displays the ghosted shape if it is x/o's turn
note: board must have class x or o for this to work */
.board.x .cell:not(.x):not(.o):hover::before,
.board.x .cell:not(.x):not(.o):hover::after,
.board.o .cell:not(.x):not(.o):hover::before,
.board.o .cell:not(.x):not(.o):hover::after  {
    background-color: lightgray;
}

/* actually draws the x */
.cell.x::before,
.cell.x::after,
.board.x .cell:not(.x):not(.o):hover::before,
.board.x .cell:not(.x):not(.o):hover::after {
    content: '';
    position: absolute;
    width: calc(var(--mark-size) * .15);
    height: var(--mark-size);
}

.cell.x::before,
.board.x .cell:not(.x):not(.o):hover::before {
    transform: rotate(45deg)
}

.cell.x::after,
.board.x .cell:not(.x):not(.o):hover::after {
    transform: rotate(-45deg)
}
/* end x drawing */


/* draws the o */
.cell.o::before,
.cell.o::after,
.board.o .cell:not(.x):not(.o):hover::before,
.board.o .cell:not(.x):not(.o):hover::after {
    content: '';
    position: absolute;
    border-radius: 50%;

}

.cell.o::before,
.board.o .cell:not(.x):not(.o):hover::before {
    width: var(--mark-size);
    height: var(--mark-size);
}

.cell.o::after,
.board.o .cell:not(.x):not(.o):hover::after {
    width: calc(var(--mark-size) * .7);
    height: calc(var(--mark-size) * .7);
    background-color: white;
}
/* end o drawing */

/* victory message */
.winning-message {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .7);
    /* display: flex; */
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 5rem;
    flex-direction: column;
}

.winning-message button {
    font-size: 2rem;
    background-color: white;
    border: 1px solid black;
    padding: .25rem .5rem;
    cursor: pointer;
    border-radius: .1em;
}

.winning-message button:hover {
    background-color: black;
    color: white;
    border-color: white;
}

/* adds class show to make winnine message show */
.winning-message.show {
    display: flex;
}